*{
  background-color: black;
}

body {
  display: flex;
  flex-direction: row;
}

h1 {
  color: yellow;
  margin-left: 80px;
}

#head {
  height: 60px;
  width: 60px;
  position: absolute;
}

.body {
  background: black;
  height: 50px;
  width: 50px;
  position: absolute;
} 

#board {
  height: 700px;
  width: 700px;
  border: 6px darkblue double;
  border-radius: 25px;
  position: relative;
}

#apple {
  height: 50px;
  width: 50px;
  position: absolute;
}